.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    background: #fff;

    * {
        margin: 0 8px;
    }
}